@model Bomberos.Models.ServicioRescate

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Esta Seguro que desea Eliminar el registro?</h3>
<div>
    <h4>Servicios de Rescate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrDireccionRescate)*@
            Dirección: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrDireccionRescate)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SrLugarLocalizacion)*@
           Lugar: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrLugarLocalizacion)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SrEstado)*@
           Estado: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrEstado)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrNombresPaciente)*@
            Paciente: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrNombresPaciente)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrApellidosPaciente)*@
            Apellidos: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrApellidosPaciente)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SrCausa)*@
           Causa: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrCausa)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrDireccionPaciente)*@
            Dirección de Paciente: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrDireccionPaciente)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrEdad)*@
            Edad: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrEdad)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrSexo)*@
            Genero: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrSexo)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrRopaColor)*@
            Color de Ropa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrRopaColor)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrColorZapatos)*@
            Color de Zapatos: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrColorZapatos)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrObjetosPortaba)*@
            Objetos que portaba: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrObjetosPortaba)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrColorPelo)*@
            Color de Pelo: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrColorPelo)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SrAproxEstatura)*@
           Estatura: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrAproxEstatura)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SrPosicionEncontro)*@
           Posición en que se encontro: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrPosicionEncontro)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrTraslado)*@
            Traslado: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrTraslado)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrUnidad)*@
            Unidad: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrUnidad)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrOtrasUniAsis)*@
            Otras Unidades de Asistencia: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrOtrasUniAsis)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrNombreJuez)*@
            Nombre de Juez: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrNombreJuez)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrSeñalesPartRescatado)*@
            Señales: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrSeñalesPartRescatado)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrFormaAviso)*@
            Formas de Aviso: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrFormaAviso)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrNoTelLlamaron)*@
            No. Telefono al que llamaron: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrNoTelLlamaron)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrSiglasRadioLlamaron)*@
            Radio de contacto: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrSiglasRadioLlamaron)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrRadioOpTurnoCentral)*@
            Radio de Turno: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrRadioOpTurnoCentral)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrHoraSalida)*@
            Hora de Salida: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrHoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrHoraEntrada)*@
            Hora de Entrada: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrHoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrPatrullasCarSeg)*@
            Patrulla a Cargo: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrPatrullasCarSeg)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrPersonalAsistente)*@
            Personal Asistente: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrPersonalAsistente)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrObservacion)*@
            Observación: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrObservacion)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrKmSalida)*@
            km de salida: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrKmSalida)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SrKmEntrada)*@
           km de Entrada: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrKmEntrada)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SrKmTotal)*@
           Km en Total: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrKmTotal)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrFecha)*@
            Fecha: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrFecha)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrBomberoReportaNavigation)*@
            Bombero que reporta: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrBomberoReportaNavigation.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrEstacionNavigation)*@
            Estación: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrEstacionNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SrOficialMandoNavigation)*@
            Oficial al Mando: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrOficialMandoNavigation.Nombres)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SrTelefonistaTurnoEstacionNavigation)*@
           Telefonista de turno: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrTelefonistaTurnoEstacionNavigation.Nombres)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SrVoBoJefeServicioNavigation)*@
           Jefe de Servicio: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrVoBoJefeServicioNavigation.IdFirma)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSr" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar al Listado</a>
    </form>
</div>
