@model IEnumerable<Bomberos.Models.ServicioRescate>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<h1><center>Servicios de Rescate</center></h1>
<br>

<div class="orden">
    <p>
        <a asp-action="Create"><img src="~/img/agregar-documento.png" width="50" height="50" /></a>
    </p>
    <h3>Crear un Nuevo Documento   </h3>

</div>

<div style="overflow-x:auto;">
    <table class="table">
    <thead>
        <tr>
            <th>
               @* @Html.DisplayNameFor(model => model.SrDireccionRescate)*@
               Dirección
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.SrLugarLocalizacion)
                Localización
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SrEstado)
                Estado
            </th>*@
            <th>
               @* @Html.DisplayNameFor(model => model.SrNombresPaciente)*@
               Nombre 
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrApellidosPaciente)*@
                Apellido 
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrCausa)*@
               Causa
            </th>
            @*<th>
               @Html.DisplayNameFor(model => model.SrDireccionPaciente)
               Dirección Paciente
            </th>*@
            <th>
               @* @Html.DisplayNameFor(model => model.SrEdad)*@
               Edad
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrSexo)*@
               Genero
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.SrRopaColor)
                Color Ropa
            </th>
            <th>
               @Html.DisplayNameFor(model => model.SrColorZapatos)
               Color zapatos
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SrObjetosPortaba)
                Objetos portaba
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SrColorPelo)
                Color de Pelo
            </th>
            <th>
               @Html.DisplayNameFor(model => model.SrAproxEstatura)
               Estatura Aproximada
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.SrTraslado)
                Traslado
            </th>*@
            <th>
              @*  @Html.DisplayNameFor(model => model.SrUnidad)*@
              Unidad
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrNombreJuez)*@
               Nombre de Juez
            </th>
            @*<th>
               @Html.DisplayNameFor(model => model.SrFormaAviso)
               Forma Aviso
            </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.SrHoraSalida)*@
                Hora salida
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrHoraEntrada)*@
               Hora Entrada
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.SrKmSalida)
                Km Salida
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SrKmEntrada)
                Km Entrada
            </th>*@
            <th>
               @* @Html.DisplayNameFor(model => model.SrKmTotal)*@
               Km Total
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrFecha)*@
                Fecha
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrBomberoReportaNavigation)*@
                Bombero Reporta
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrEstacionNavigation)*@
                Estación
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.SrOficialMandoNavigation)
                Oficial
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SrTelefonistaTurnoEstacionNavigation)
                Telefonista Turnno
            </th>*@
            <th>
               @* @Html.DisplayNameFor(model => model.SrVoBoJefeServicioNavigation)*@
               Vo.Bo.
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SrDireccionRescate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.SrLugarLocalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrEstado)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SrNombresPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrApellidosPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrCausa)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.SrDireccionPaciente)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SrEdad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrSexo)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.SrRopaColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrColorZapatos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrObjetosPortaba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrColorPelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrAproxEstatura)
            </td>*@
         @*   <td>
                @Html.DisplayFor(modelItem => item.SrPosicionEncontro)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.SrTraslado)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SrUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrNombreJuez)
                    </td>@*            <td>
                @Html.DisplayFor(modelItem => item.SrSeñalesPartRescatado)
                </td>*@

           @* <td>
                @Html.DisplayFor(modelItem => item.SrFormaAviso)
            </td>*@
@*            <td>
                @Html.DisplayFor(modelItem => item.SrNoTelLlamaron)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SrHoraSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrHoraEntrada)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.SrPatrullasCarSeg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrPersonalAsistente)
            </td>*@
@*            <td>
                @Html.DisplayFor(modelItem => item.SrObservacion)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.SrKmSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrKmEntrada)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SrKmTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrBomberoReportaNavigation.Nombres)
                @Html.DisplayFor(modelItem => item.SrBomberoReportaNavigation.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrEstacionNavigation.Nombre)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.SrOficialMandoNavigation.Nombres)
                @Html.DisplayFor(modelItem => item.SrOficialMandoNavigation.Apellidos)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.SrTelefonistaTurnoEstacionNavigation.Nombres)
                @Html.DisplayFor(modelItem => item.SrTelefonistaTurnoEstacionNavigation.Apellidos)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SrVoBoJefeServicioNavigation.IdFirma)
            </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdSr"><img src="~/img/editar.png" width="30" height="30" /> </a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.IdSr"><img src="~/img/votacion.png" width="30" height="30" /> </a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.IdSr"><img src="~/img/basura.png" width="30" height="30" /> </a>
                    </td>
        </tr>
}
    </tbody>
</table>
</div>