@model IEnumerable<Bomberos.Models.ServicioRescate>

@{
    ViewData["Title"] = "Index";
}

<h1>Servicios de Rescate</h1>

<p>
    <a asp-action="Create">Crear Nuevo Registro</a>
</p>
<div style="overflow-x:auto;">
    <table class="table">
    <thead>
        <tr>
            <th>
               @* @Html.DisplayNameFor(model => model.SrDireccionRescate)*@
               Dirección
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrLugarLocalizacion)*@
                Localización
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrEstado)*@
                Estado
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrNombresPaciente)*@
               Nombre Paciente
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrApellidosPaciente)*@
                Apellido Paciente
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrCausa)*@
               Causa
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrDireccionPaciente)*@
               Dirección Paciente
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrEdad)*@
               Edad
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrSexo)*@
               Genero
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrRopaColor)*@
                Color Ropa
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrColorZapatos)*@
               Color zapatos
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrObjetosPortaba)*@
                Objetos que portaba
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrColorPelo)*@
                Color de Pelo
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrAproxEstatura)*@
               Estatura Aproximada
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrPosicionEncontro)*@
               Posicion en que se encotró
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrTraslado)*@
                Traslado
            </th>
            <th>
              @*  @Html.DisplayNameFor(model => model.SrUnidad)*@
              Unidad
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrOtrasUniAsis)*@
                Otros
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrNombreJuez)*@
               Nombre de Juez
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrSeñalesPartRescatado)*@
               Señales de Rescate
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrFormaAviso)*@
               Forma de Aviso
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrNoTelLlamaron)*@
                No. de Telefono al que llamaron
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrSiglasRadioLlamaron)*@
               Siglas de Radio de llamada
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrRadioOpTurnoCentral)*@
                Radio Turno Central
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrHoraSalida)*@
                Hora de salida
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrHoraEntrada)*@
               Hora de Entrada
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrPatrullasCarSeg)*@
               Patrullas a cargo
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrPersonalAsistente)*@
               Personal Asistente
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrObservacion)*@
               Observación
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrKmSalida)*@
                Km de Salida
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrKmEntrada)*@
                Km de Entrada
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrKmTotal)*@
               Km Total
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrFecha)*@
                Fecha
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrBomberoReportaNavigation)*@
                Bombero que Reporta
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrEstacionNavigation)*@
                Estación
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrOficialMandoNavigation)*@
                Oficial
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SrTelefonistaTurnoEstacionNavigation)*@
                Telefonista de Turnno
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SrVoBoJefeServicioNavigation)*@
               VoBo. Jefe de Servicio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SrDireccionRescate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrLugarLocalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrNombresPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrApellidosPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrCausa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrDireccionPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrEdad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrSexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrRopaColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrColorZapatos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrObjetosPortaba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrColorPelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrAproxEstatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrPosicionEncontro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrTraslado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrOtrasUniAsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrNombreJuez)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrSeñalesPartRescatado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrFormaAviso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrNoTelLlamaron)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrSiglasRadioLlamaron)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrRadioOpTurnoCentral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrHoraSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrHoraEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrPatrullasCarSeg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrPersonalAsistente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrObservacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrKmSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrKmEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrKmTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrBomberoReportaNavigation.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrEstacionNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrOficialMandoNavigation.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrTelefonistaTurnoEstacionNavigation.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrVoBoJefeServicioNavigation.IdFirma)
            </td>
            <td >
                <a asp-action="Edit" asp-route-id="@item.IdSr">Editar</a> | 
                <a asp-action="Details" asp-route-id="@item.IdSr">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSr">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>