@model Bomberos.Models.ServicioVario

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="orden">
    <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
</div>

<h1><center>Eliminar Formulario de Servicios Varios</center></h1>

<h3>Esta seguro de realizar esta acción?</h3>
<h5>Tenga en cuenta que si se ha generado algun formulario con este dato</h5>
<h5>no podra ser eliminado el campo.</h5>
<div>
    <hr></hr>
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvEstacion)*@
            Estación
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvEstacion)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvTurno)*@
            Turno
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvTurno)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvFecha)*@
            Fecha
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvFecha)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvDireccion)*@
            Dirección
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvDireccion)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvServicio)*@
            Servicio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvServicio)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvHoraSalida)*@
            Hora de Salida
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvHoraSalida)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.SvHoraEntrada)*@
            Hora de Entrada
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvHoraEntrada)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.SvUnidad)*@
            Unidad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvUnidad)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvObservacion)*@
            Observación
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvObservacion)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.SvKmEntrada)*@
            Km de Entrada
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvKmEntrada)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvKmSalida)*@
            Km de Salida
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvKmSalida)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvKmRecorrido)*@
            Km Recorridos
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvKmRecorrido)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvNoBombero)*@
            Número de Bombero
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvNoBombero)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvBomberoReportaNavigation)*@
            Bombero que Reporta
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvBomberoReportaNavigation.Nombres)
            @Html.DisplayFor(model => model.SvBomberoReportaNavigation.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvFirmaBomberoNavigation)*@
            Firma de Bombero
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvFirmaBomberoNavigation.IdFirma)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvJefeServicioNavigation)*@
            Jefe de Servicio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvJefeServicioNavigation.Nombres)
            @Html.DisplayFor(model => model.SvJefeServicioNavigation.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.SvPersonalAsistenteNavigation)*@
            Personal Asistente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvPersonalAsistenteNavigation.Nombres)
            @Html.DisplayFor(model => model.SvPersonalAsistenteNavigation.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvPilotoNavigation)*@
            Piloto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvPilotoNavigation.Nombres)
            @Html.DisplayFor(model => model.SvPilotoNavigation.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvServicioAutPorNavigation)*@
            Servicio de Auto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvServicioAutPorNavigation.Nombres)
            @Html.DisplayFor(model => model.SvServicioAutPorNavigation.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvTelefonistaTurnoNavigation)*@
            Telefonista de Turno
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SvTelefonistaTurnoNavigation.Nombres)
            @Html.DisplayFor(model => model.SvTelefonistaTurnoNavigation.Apellidos)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSv" />
        <br />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
    </form>
</div>
