@model Bomberos.Models.ServicioVario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Servicios Varios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SvEstacion)*@
           Estación:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvEstacion)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SvTurno)*@
           Turno:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvTurno)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SvFecha)*@
           Fecha:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvFecha)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvDireccion)*@
            Dirección:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvDireccion)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvServicio)*@
            Servicio:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvServicio)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvHoraSalida)*@
            Hora de Salida:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvHoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvHoraEntrada)*@
            Hora de Entrada:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvHoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvUnidad)*@
            Unidad de Servicio:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvUnidad)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvObservacion)*@
            Observaciones:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvObservacion)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvKmEntrada)*@
            Km de Entrada:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvKmEntrada)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SvKmSalida)*@
           Km de Salida:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvKmSalida)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SvKmRecorrido)*@
           Km Recorridos:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvKmRecorrido)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SvNoBombero)*@
           No. de Bombero
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvNoBombero)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvBomberoReportaNavigation)*@
            Bombero que reporta:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvBomberoReportaNavigation.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvFirmaBomberoNavigation)*@
            Firma de Bombero:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvFirmaBomberoNavigation.IdFirma)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvJefeServicioNavigation)*@
            Jefe de Servicio:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvJefeServicioNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvPersonalAsistenteNavigation)*@
            Personal Asistente:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvPersonalAsistenteNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SvPilotoNavigation)*@
            Piloto de Navegación:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvPilotoNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SvServicioAutPorNavigation)*@
           Servicio de Auto:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvServicioAutPorNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.SvTelefonistaTurnoNavigation)*@
           Telefonista de Turno:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SvTelefonistaTurnoNavigation.IdPersonal)
        </dd>
    </dl>
</div>
<div>
    <br />
    <a asp-action="Edit" asp-route-id="@Model?.IdSv">Editar</a> |
    <a asp-action="Index">Regresar al Listado</a>
</div>
