@model Bomberos.Models.InForestal

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InForestal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfUbiSiniestro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfUbiSiniestro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfAreaAfectada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfAreaAfectada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfTipoTerreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfTipoTerreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfHoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfHoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfHoraServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfHoraServicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfHoraEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfHoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfUnidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfUnidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfUniAsisEstacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfUniAsisEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfUniAsisOtraEstacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfUniAsisOtraEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfUniPoliciacas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfUniPoliciacas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfUniOtrasInstiBomberiles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfUniOtrasInstiBomberiles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfPersonalAsisEstacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfPersonalAsisEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfPersonalAsisOtraEstacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfPersonalAsisOtraEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfObservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfObservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfKmEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfKmEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfKmSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfKmSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfKmRecorrido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfKmRecorrido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfNoBombero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfNoBombero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCfNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCfNavigation.IdCf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPropNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPropNavigation.IdProp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfBomberoReportaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfBomberoReportaNavigation.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfEstacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfEstacionNavigation.IdEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfFirmaBomberoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfFirmaBomberoNavigation.IdFirma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfJefeServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfJefeServicioNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfPilotoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfPilotoNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfTelefonistaTurnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfTelefonistaTurnoNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfTurnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfTurnoNavigation.IdTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfVoBoJefeServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfVoBoJefeServicioNavigation.IdFirma)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdIf" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
