@model Bomberos.Models.InForestal

@{
    ViewData["Title"] = "Detalles de Formulario";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="orden">
    <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
</div>
<h1><center>Detalles de Incendio Forestal</center></h1>

<div class="">
    <h4><center>Incendio Forestal</center></h4>
    <hr />

<div class="">

        <div class ="form-group col-md-6">
    <label>@Html.DisplayNameFor(model => model.IfUbiSiniestro)</label>
             @Html.DisplayFor(model => model.IfUbiSiniestro)
    </div>

        <div class="form-group col-md-6">
    <label>@Html.DisplayNameFor(model => model.IfAreaAfectada)</label>
            @Html.DisplayFor(model => model.IfAreaAfectada)
    </div>

        <div class="form-group col-md-6">
    <label>@Html.DisplayNameFor(model => model.IfTipoTerreno)</label>
            @Html.DisplayFor(model => model.IfTipoTerreno)
        </div>

    <div class ="form-group col-md-2">
    <label>@Html.DisplayNameFor(model => model.IfHoraSalida)</label>
            @Html.DisplayFor(model => model.IfHoraSalida)
    </div>

    <div class ="form-group col-md-2">
    <label>@Html.DisplayNameFor(model => model.IfHoraServicio)</label>
            @Html.DisplayFor(model => model.IfHoraServicio)
    </div>

        <div class="form-group col-md-2">
    <label>@Html.DisplayNameFor(model => model.IfHoraEntrada)</label>
            @Html.DisplayFor(model => model.IfHoraEntrada)
    </div><br></br>

        <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfUnidad)</label>
            @Html.DisplayFor(model => model.IfUnidad)
    </div>

        <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfUniAsisEstacion)</label>
            @Html.DisplayFor(model => model.IfUniAsisEstacion)
    </div>

        <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfUniAsisOtraEstacion)</label>
            @Html.DisplayFor(model => model.IfUniAsisOtraEstacion)
    </div>

        <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfUniPoliciacas)</label>
            @Html.DisplayFor(model => model.IfUniPoliciacas)
    </div><br></br>

        <div class="form-group col-md-6">
    <label>@Html.DisplayNameFor(model => model.IfUniOtrasInstiBomberiles)</label>
            @Html.DisplayFor(model => model.IfUniOtrasInstiBomberiles)
    </div>

    <div class ="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfPersonalAsisEstacion)</label>
            @Html.DisplayFor(model => model.IfPersonalAsisEstacion)
    </div>

        <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfPersonalAsisOtraEstacion)</label>
            @Html.DisplayFor(model => model.IfPersonalAsisOtraEstacion)
    </div>

    <div class="form-group col-md-12">
    <label>@Html.DisplayNameFor(model => model.IfObservacion)</label>
    <div class="ddic">  @Model?.IfObservacion.ToString() </div> <br></br>
    </div>

            <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfFecha)</label>
            @Html.DisplayFor(model => model.IfFecha)
    </div>

            <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfKmEntrada)</label>
            @Html.DisplayFor(model => model.IfKmEntrada)
    </div>

            <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfKmSalida)</label>
            @Html.DisplayFor(model => model.IfKmSalida)
    </div>

    <div class ="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfKmRecorrido)</label>
            @Html.DisplayFor(model => model.IfKmRecorrido)
    </div>

            <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfNoBombero)</label>}
            @Html.DisplayFor(model => model.IfNoBombero)
    </div>

            <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IdCfNavigation)</label>
            @Html.DisplayFor(model => model.IdCfNavigation.CfClasefuego)
    </div>

            <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IdPropNavigation)</label>
            @Html.DisplayFor(model => model.IdPropNavigation.PTipoProp)
    </div>

            <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfBomberoReportaNavigation)</label>
            @Html.DisplayFor(model => model.IfBomberoReportaNavigation.Nombres)
            @Html.DisplayFor(model => model.IfBomberoReportaNavigation.Apellidos)
    </div>

            <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfEstacionNavigation)</label>
            @Html.DisplayFor(model => model.IfEstacionNavigation.Nombre)
    </div>

            <div class="form-group col-md-3">
    <label> @Html.DisplayNameFor(model => model.IfFirmaBomberoNavigation)</label>
            @Html.DisplayFor(model => model.IfFirmaBomberoNavigation.Nombre)
    </div>

    <div class ="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfJefeServicioNavigation)</label>
            @Html.DisplayFor(model => model.IfJefeServicioNavigation.Nombres)
            @Html.DisplayFor(model => model.IfJefeServicioNavigation.Apellidos)
    </div >

            <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfPilotoNavigation)</label>
            @Html.DisplayFor(model => model.IfPilotoNavigation.Nombres)
            @Html.DisplayFor(model => model.IfPilotoNavigation.Apellidos)
    </div>

     <div class ="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfTelefonistaTurnoNavigation)</label>
            @Html.DisplayFor(model => model.IfTelefonistaTurnoNavigation.Nombres)
            @Html.DisplayFor(model => model.IfTelefonistaTurnoNavigation.Apellidos)
    </div>

            <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfTurnoNavigation)</label>
            @Html.DisplayFor(model => model.IfTurnoNavigation.Nombre)
    </div>

    <div class="form-group col-md-3">
    <label>@Html.DisplayNameFor(model => model.IfVoBoJefeServicioNavigation)</label>
            @Html.DisplayFor(model => model.IfVoBoJefeServicioNavigation.Nombre)
    </div>
        <div class="form-group col-md-6">
            <label>@Html.DisplayNameFor(model => model.CodigoNavigation)</label>
            @Html.DisplayFor(model => model.CodigoNavigation.Codigo1)
        </div>

</div>
        <div class="form-group col-md-3">
    <a asp-action="Edit" asp-route-id="@Model?.IdIf">Editar</a> 
</div>
