@model IEnumerable<Bomberos.Models.InForestal>

@{
    ViewData["Title"] = "Incendios Forestales";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<h1><center>Incendios Forestales</center></h1>
<br>

<div class="orden">
    <p>
        <a asp-action="Create"><img src="~/img/agregar-documento.png" width="50" height="50" /></a>
    </p>
    <h3>Crear un Nuevo Documento   </h3>

</div>

<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfUbiSiniestro)
                </center>
            </th>
           @*<th>
                <center>
                @Html.DisplayNameFor(model => model.IfAreaAfectada)
                    </center>
            </th>*@
            @*<th>
                <center>
                @Html.DisplayNameFor(model => model.IfTipoTerreno)
                    </center>
            </th>*@
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfHoraSalida)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfHoraServicio)
                    </center>
            </th>
            <th>
                    <center>
                @Html.DisplayNameFor(model => model.IfHoraEntrada)
                    </center>
            </th>
           @* <th>
                <center>
                @Html.DisplayNameFor(model => model.IfUnidad)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfUniAsisEstacion)
                    </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfUniAsisOtraEstacion)
                    </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfUniPoliciacas)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfUniOtrasInstiBomberiles)
                    </center>
            </th>*@
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfPersonalAsisEstacion)
                </center>
            </th>
           @* <th>
                <center>
                @Html.DisplayNameFor(model => model.IfPersonalAsisOtraEstacion)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfObservacion)
                </center>
            </th>*@
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfFecha)
                </center>
            </th>
           @*<th>
                <center>
                @Html.DisplayNameFor(model => model.IfKmEntrada)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfKmSalida)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfKmRecorrido)
                </center>
            </th>*@
            <th><center>
                @Html.DisplayNameFor(model => model.IfNoBombero)
                    </center>
            </th>
           @*<th>
                <center>
                @Html.DisplayNameFor(model => model.IdCfNavigation)
                    </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IdPropNavigation)
                </center>
            </th>*@
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfBomberoReportaNavigation)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfEstacionNavigation)
                    </center>
            </th>
            <th>
                    <center>
                @Html.DisplayNameFor(model => model.IfFirmaBomberoNavigation)
                    </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfJefeServicioNavigation)
                    </center>
            </th>
           @*<th>
                    <center>
                @Html.DisplayNameFor(model => model.IfPilotoNavigation)
                    </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfTelefonistaTurnoNavigation)
                    </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IfTurnoNavigation)
                    </center>
            </th>*@
            <th>
                    <center>
                @Html.DisplayNameFor(model => model.IfVoBoJefeServicioNavigation)
                    </center>
            </th>
                <th><center></center></th>
            <th><center></center></th>
                <th><center></center></th>
        </tr>
    </thead>
    </div>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td><center>
                @Html.DisplayFor(modelItem => item.IfUbiSiniestro)
                </center>
            </td>
            @*<td>
                <center>
                @Html.DisplayFor(modelItem => item.IfAreaAfectada)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfTipoTerreno)
                </center>
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfHoraSalida)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfHoraServicio)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfHoraEntrada)
                </center>
            </td>
            
           @* <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfUnidad)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfUniAsisEstacion)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfUniAsisOtraEstacion)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfUniPoliciacas)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfUniOtrasInstiBomberiles)
                </center>
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfPersonalAsisEstacion)
                </center>
            </td>
           @* <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfPersonalAsisOtraEstacion)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfObservacion)
                </center>
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfFecha)
                </center>
            </td>
           @*<td>
                <center>
                @Html.DisplayFor(modelItem => item.IfKmEntrada)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfKmSalida)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfKmRecorrido)
                </center>
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfNoBombero)
                </center>
            </td>
            @*<td>
                <center>
                @Html.DisplayFor(modelItem => item.IdCfNavigation.IdCf)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IdPropNavigation.IdProp)
                </center>
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfBomberoReportaNavigation.Nombres) 
                @Html.DisplayFor(modelItem => item.IfBomberoReportaNavigation.Apellidos)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfEstacionNavigation.Nombre)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfFirmaBomberoNavigation.Nombre)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfJefeServicioNavigation.Nombres)
                @Html.DisplayFor(modelItem => item.IfJefeServicioNavigation.Apellidos)
                </center>
            </td>
            
           @* <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfPilotoNavigation.IdPersonal)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfTelefonistaTurnoNavigation.IdPersonal)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfTurnoNavigation.IdTurno)
                </center>
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IfVoBoJefeServicioNavigation.Nombre)
                </center>
            </td>
                <td>
                <center>
                    <a asp-action="Edit" asp-route-id="@item.IdIf"><img src="~/img/editar.png" width="40" height="40" /> </a>
                    </center>
                <td>
                    <center>
                    <a asp-action="Details" asp-route-id="@item.IdIf"><img src="~/img/votacion.png" width="40" height="40" /> </a>
                    </center>
                </td>
                <td>
                    <center>
                <a asp-action="Delete" asp-route-id="@item.IdIf"><img src="~/img/basura.png" width="40" height="40" /> </a>
                    </center>
                </td>
                
        </tr>
}
    </tbody>
</table>
