@model Bomberos.Models.Usuario

@{
    ViewData["Title"] = "Eliminar Usuario";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="orden">
    <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
</div>

<h1><center>Eliminar Usuario</center></h1>

<h3>Esta seguro de realizar esta acción?</h3>
<h5>Tenga en cuenta que si se ha generado algun formulario con este dato</h5>
<h5>no podra ser eliminado el campo.</h5>
<div>
    <hr></hr>
<div>
    
    <dl class="">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsContraseña)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsContraseña)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUsuario" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
    </form>
</div>
