@model IEnumerable<Bomberos.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<h1><center>Usuarios</center></h1>
<br>

<div class="orden">
    <p>
        <a asp-action="Create"><img src="~/img/agregar-documento.png" width="50" height="50" /></a>
    </p>
    <h3>Crear un Nuevo Usuario</h3>

</div>

<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsUsuario)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.UsContraseña)
                </th>*@
                <th><center></center></th>
                <th><center></center></th>
                <th><center></center></th>
        </tr>
    </thead>
</div>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsUsuario)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UsContraseña)
            </td>*@
            
            <td>
                <center>
                    <a asp-action="Edit" asp-route-id="@item.IdUsuario"><img src="~/img/editar.png" width="40" height="40" /> </a>
                </center>
            <td>
                <center>
                    <a asp-action="Details" asp-route-id="@item.IdUsuario"><img src="~/img/votacion.png" width="40" height="40" /> </a>
                </center>
            </td>
            <td>
                <center>
                    <a asp-action="Delete" asp-route-id="@item.IdUsuario"><img src="~/img/basura.png" width="40" height="40" /> </a>
                </center>
            </td>

        </tr>
}
    </tbody>
</table>
