@model Bomberos.Models.ServicioPrevencion

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Esta Seguro que desea eliminar el registro?</h3>
<div>
    <h4>Servicios Prevención</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpNombreRazonsocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpNombreRazonsocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpGeneralesServPrestado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpGeneralesServPrestado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpEstablecimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpEstablecimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpHoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpHoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpHoraEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpHoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpUnidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpUnidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpFormaAviso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpFormaAviso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpObservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpObservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpKmSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpKmSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpKmEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpKmEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpKmTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpKmTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpBomberoReportaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpBomberoReportaNavigation.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpCompañiaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpCompañiaNavigation.IdCompañia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpEstacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpEstacionNavigation.IdEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpOficialServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpOficialServicioNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpPilotoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpPilotoNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpTelefonistaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpTelefonistaNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpTurnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpTurnoNavigation.IdTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpVoBoJefeServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpVoBoJefeServicioNavigation.IdFirma)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSp" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar al Listado</a>
    </form>
</div>
