@model Bomberos.Models.ServicioPrevencion

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
  <div class="orden">
 <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
 </div>
<h1><center>Detalles de Servicios de Prevención</center></h1>

<div class="">
    <h4><center>Servicios de Prevención</center></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpNombreRazonsocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpNombreRazonsocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpGeneralesServPrestado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpGeneralesServPrestado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpEstablecimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpEstablecimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpHoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpHoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpHoraEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpHoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpUnidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpUnidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpFormaAviso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpFormaAviso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpObservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpObservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpKmSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpKmSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpKmEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpKmEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpKmTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpKmTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpBomberoReportaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpBomberoReportaNavigation.Nombres)
            @Html.DisplayFor(model => model.SpBomberoReportaNavigation.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpCompañiaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpCompañiaNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpEstacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpEstacionNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpOficialServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpOficialServicioNavigation.Nombres)
            @Html.DisplayFor(model => model.SpOficialServicioNavigation.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpPilotoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpPilotoNavigation.Nombres)
            @Html.DisplayFor(model => model.SpPilotoNavigation.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpTelefonistaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpTelefonistaNavigation.Nombres)
            @Html.DisplayFor(model => model.SpTelefonistaNavigation.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpTurnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpTurnoNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpVoBoJefeServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpVoBoJefeServicioNavigation.IdFirma)
        </dd>
    </dl>
</div>
<div>
    <br />
    <a asp-action="Edit" asp-route-id="@Model?.IdSp">Edit</a>
</div>
