@model Bomberos.Models.InEstructural

@{
    ViewData["Title"] = "Eliminar Incendio Estructura";
}

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

   <div class="orden">
 <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
 </div>

<h1><center>Eliminar Formulario de Incendio Estructural</center></h1>

<h3>Esta seguro de realizar esta acción?</h3>
<h5>Tenga en cuenta que si se ha generado algun formulario con este dato</h5>
<h5>no podra ser eliminado el campo.</h5>
<div>
    <hr></hr>
    <div class="">

        <div class="form-group col-md-6">
            <label>@Html.DisplayNameFor(model => model.IeUbiSiniestro)</label>
            @Html.DisplayFor(model => model.IeUbiSiniestro)
        </div>


        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeEstacionNavigation)</label>
            @Html.DisplayFor(model => model.IeEstacionNavigation.Nombre)
        </div>


        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeTurnoNavigation)</label>
            @Html.DisplayFor(model => model.IeTurnoNavigation.Nombre)
        </div> <br></br>






        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeInmueble)</label>
            @Html.DisplayFor(model => model.IeInmueble)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeValor)</label>
            @Html.DisplayFor(model => model.IeValor)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IePerdida)</label>
            @Html.DisplayFor(model => model.IePerdida)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IdPropNavigation)</label>
            @Html.DisplayFor(model => model.IdPropNavigation.PTipoProp)
        </div><br></br>







        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeIdCfNavigation)</label>
            @Html.DisplayFor(model => model.IeIdCfNavigation.CfClasefuego)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeHoraSalida)</label>
            @Html.DisplayFor(model => model.IeHoraSalida)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeHoraServicio)</label>
            @Html.DisplayFor(model => model.IeHoraServicio)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeHoraEntrada)</label>
            @Html.DisplayFor(model => model.IeHoraEntrada)
        </div><br></br>




        <div class="form-group col-md-6">
            <label>@Html.DisplayNameFor(model => model.IeJefeServicioNavigation)</label>
            @Html.DisplayFor(model => model.IeJefeServicioNavigation.Nombres)
            @Html.DisplayFor(model => model.IeJefeServicioNavigation.Apellidos)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeTelefonistaTurnoNavigation)</label>
            @Html.DisplayFor(model => model.IeTelefonistaTurnoNavigation.Nombres)
            @Html.DisplayFor(model => model.IeTelefonistaTurnoNavigation.Apellidos)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeBomberoReportaNavigation)</label>
            @Html.DisplayFor(model => model.IeBomberoReportaNavigation.Nombres)
            @Html.DisplayFor(model => model.IeBomberoReportaNavigation.Apellidos)
        </div><br></br>







        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IePilotoNavigation)</label>
            @Html.DisplayFor(model => model.IePilotoNavigation.Nombres)
            @Html.DisplayFor(model => model.IePilotoNavigation.Apellidos)
        </div>



        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeUnidad)</label>
            @Html.DisplayFor(model => model.IeUnidad)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeUniAsisEstacion)</label>
            @Html.DisplayFor(model => model.IeUniAsisEstacion)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeUniAsisOtraEstacion)</label>
            @Html.DisplayFor(model => model.IeUniAsisOtraEstacion)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeUniPoliciacas)</label>
            @Html.DisplayFor(model => model.IeUniPoliciacas)
        </div>



        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeUniOtrasInstiBomberiles)</label>
            @Html.DisplayFor(model => model.IeUniOtrasInstiBomberiles)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IePersonalAsisEstacion)</label>
            @Html.DisplayFor(model => model.IePersonalAsisEstacion)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IePersonalAsisOtraEstacion)</label>
            @Html.DisplayFor(model => model.IePersonalAsisOtraEstacion)
        </div><br></br>



        <div class="form-group col-md-12">
            <label>@Html.DisplayNameFor(model => model.IeObservacion)</label>
            <div class="ddic">  @Html.DisplayFor(model => model.IeObservacion) </div>

        </div><br></br>



        <div class="form-group col-md-2">
            <label>@Html.DisplayNameFor(model => model.IeFecha) </label>
            @Html.DisplayFor(model => model.IeFecha)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeKmEntrada)</label>
            @Html.DisplayFor(model => model.IeKmEntrada)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IeKmSalida)</label>
            @Html.DisplayFor(model => model.IeKmSalida)
        </div>

        <div class="form-group col-md-3">
            <label> @Html.DisplayNameFor(model => model.IeKmRecorrido)</label>
            @Html.DisplayFor(model => model.IeKmRecorrido)
        </div><br></br>


        <div class="form-group col-md-4">
            <label>@Html.DisplayNameFor(model => model.IeFirmaBomberoNavigation)</label>
            @Html.DisplayFor(model => model.IeFirmaBomberoNavigation.Nombre)
        </div>

        <div class="form-group col-md-2">
            <label> @Html.DisplayNameFor(model => model.IeNoBombero)</label>
            @Html.DisplayFor(model => model.IeNoBombero)
        </div>



        <div class="form-group col-md-6">
            <label>@Html.DisplayNameFor(model => model.IeVoBoJefeServicioNavigation)</label>
            @Html.DisplayFor(model => model.IeVoBoJefeServicioNavigation.Nombre)
        </div>

        <div class="form-group col-md-3">
                <label>@Html.DisplayNameFor(model => model.CodigoNavigation)</label>
                          @Html.DisplayFor(model => model.CodigoNavigation.Codigo1)
        </div>
    </div><br></br>


    <div class="form-group col-md-12">
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdIe" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
    </form>
    </div>
</div>
