@model Bomberos.Models.InEstructural

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InEstructural</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeUbiSiniestro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeUbiSiniestro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeInmueble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeInmueble)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeValor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IePerdida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IePerdida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeHoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeHoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeHoraServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeHoraServicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeHoraEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeHoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeUnidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeUnidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeUniAsisEstacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeUniAsisEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeUniAsisOtraEstacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeUniAsisOtraEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeUniPoliciacas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeUniPoliciacas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeUniOtrasInstiBomberiles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeUniOtrasInstiBomberiles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IePersonalAsisEstacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IePersonalAsisEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IePersonalAsisOtraEstacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IePersonalAsisOtraEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeObservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeObservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeKmEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeKmEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeKmSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeKmSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeKmRecorrido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeKmRecorrido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeNoBombero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeNoBombero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPropNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPropNavigation.IdProp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeBomberoReportaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeBomberoReportaNavigation.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeEstacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeEstacionNavigation.IdEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeFirmaBomberoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeFirmaBomberoNavigation.IdFirma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeIdCfNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeIdCfNavigation.IdCf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeJefeServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeJefeServicioNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IePilotoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IePilotoNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeTelefonistaTurnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeTelefonistaTurnoNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeTurnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeTurnoNavigation.IdTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeVoBoJefeServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeVoBoJefeServicioNavigation.IdFirma)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdIe">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
