@model IEnumerable<Bomberos.Models.InEstructural>

@{
    ViewData["Title"] = "Incendios Estructurales";
}

<h1>Incendios Estructurales</h1>

<p>
    <a asp-action="Create">Crear Nuevo Formulario</a>
</p>
<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th><center>
               @Html.DisplayNameFor(model => model.IeUbiSiniestro)          
               </center>
            </th>
               
            @*<th>
                <center>
                 @Html.DisplayNameFor(model => model.IeInmueble)              
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IeValor)
                </center>
            </th>
            <th>
                <center>
                 @Html.DisplayNameFor(model => model.IePerdida)
                </center>
             </th>*@
            <th>
                <center>
                 @Html.DisplayNameFor(model => model.IeHoraSalida)
                </center>
            </th>
            <th>
                <center>
               @Html.DisplayNameFor(model => model.IeHoraServicio)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IeHoraEntrada)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IeUnidad)
                </center>
            </th>
            <th>
                <center>
               @Html.DisplayNameFor(model => model.IeUniAsisEstacion)
                </center>
            </th>
          @* <th>
                <center>
              @Html.DisplayNameFor(model => model.IeUniAsisOtraEstacion)
                </center>
            </th>
            <th>
                <center>
               @Html.DisplayNameFor(model => model.IeUniPoliciacas)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IeUniOtrasInstiBomberiles)
                </center>
                </th>*@
            <th>
                <center>
                 @Html.DisplayNameFor(model => model.IePersonalAsisEstacion)
                </center>
            </th>
           @*<th>
                <center>
                @Html.DisplayNameFor(model => model.IePersonalAsisOtraEstacion)
                </center>
             </th>
            <th>
                <center>
                 @Html.DisplayNameFor(model => model.IeObservacion)
                </center>
            </th>*@
            <th>
                <center>
               @Html.DisplayNameFor(model => model.IeFecha)               
               </center>
            </th>
           @* <th>
                <center>
                @Html.DisplayNameFor(model => model.IeKmEntrada)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IeKmSalida)
                </center>
            </th>
            <th>
                <center>
               @Html.DisplayNameFor(model => model.IeKmRecorrido)
                </center>
                </th>*@
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.IeNoBombero)

                </center>
            </th>
           @* <th>
               <center>
                @Html.DisplayNameFor(model => model.IdPropNavigation)
                </center>
                    </th>*@
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IeBomberoReportaNavigation)
                </center>
            </th>
            <th>
                <center>
               @Html.DisplayNameFor(model => model.IeEstacionNavigation)
              
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IeFirmaBomberoNavigation)
                </center>
            </th>
           @*<th>
                <center>
               @Html.DisplayNameFor(model => model.IeIdCfNavigation)
                </center>
            </th>*@
            <th>
                <center>
               @Html.DisplayNameFor(model => model.IeJefeServicioNavigation)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IePilotoNavigation)
                </center>
            </th>
            @* <th>
                <center>
                 @Html.DisplayNameFor(model => model.IeTelefonistaTurnoNavigation)
                </center>
            </th>*@
            <th>
                <center>
                 @Html.DisplayNameFor(model => model.IeTurnoNavigation)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IeVoBoJefeServicioNavigation)
                </center>
            </th>
            <th></th>
        </tr>
    </thead>
    </div>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IeUbiSiniestro)
                    </center>
            </td>
           
           @* <td>
                @Html.DisplayFor(modelItem => item.IeInmueble)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeValor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IePerdida)
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IeHoraSalida)
                    </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IeHoraServicio)
                    </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IeHoraEntrada)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IeUnidad)
                    </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IeUniAsisEstacion)
                    </center>
            </td>
           @*<td>
                @Html.DisplayFor(modelItem => item.IeUniAsisOtraEstacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeUniPoliciacas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeUniOtrasInstiBomberiles)
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IePersonalAsisEstacion)
                    </center>
            </td>
           @*<td>
                @Html.DisplayFor(modelItem => item.IePersonalAsisOtraEstacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeObservacion)
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IeFecha)
                    </center>
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.IeKmEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeKmSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeKmRecorrido)
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IeNoBombero)
                </center>
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.IdPropNavigation.PTipoProp)
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IeBomberoReportaNavigation.Nombres) 
                @Html.DisplayFor(modelItem => item.IeBomberoReportaNavigation.Apellidos)
                    </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IeEstacionNavigation.Nombre)
                    </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IeFirmaBomberoNavigation.Nombre)
                    </center>
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IeIdCfNavigation.CfClasefuego)
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IeJefeServicioNavigation.Nombres)
                 @Html.DisplayFor(modelItem => item.IeJefeServicioNavigation.Apellidos)
                    </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IePilotoNavigation.Nombres)
                @Html.DisplayFor(modelItem => item.IePilotoNavigation.Apellidos)
                    </center>
            </td>
           @*<td>
                @Html.DisplayFor(modelItem => item.IeTelefonistaTurnoNavigation.Nombres)
                @Html.DisplayFor(modelItem => item.IeTelefonistaTurnoNavigation.Apellidos)
            </td>*@
            <td>
                    <center>
                @Html.DisplayFor(modelItem => item.IeTurnoNavigation.Nombre)
                    </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IeVoBoJefeServicioNavigation.Nombre)
                    </center>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdIe">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdIe">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdIe">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
