@model IEnumerable<Bomberos.Models.InEstructural>

@{
    ViewData["Title"] = "Incendios Estructurales";
}

<h1>Incendios Estructurales</h1>

<p>
    <a asp-action="Create">Crear Nuevo Formulario</a>
</p>
<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th><center>
               @* @Html.DisplayNameFor(model => model.IeUbiSiniestro)*@
               Ubicación del Siniestro
               </center>
            </th>
            <th>
                <center>
                @* @Html.DisplayNameFor(model => model.IeInmueble) *@
                Inmueble
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeValor)*@
               Valor
                </center>
            </th>
            <th>
                <center>
                @* @Html.DisplayNameFor(model => model.IePerdida)*@
                Pérdida
                </center>
            </th>
            <th>
                <center>
                @* @Html.DisplayNameFor(model => model.IeHoraSalida)*@
                Hora de Salida
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeHoraServicio)*@
               Hora Efectiva del Servicio
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeHoraEntrada)*@
               Hora de Entrada
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeUnidad)*@
               Unidad
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeUniAsisEstacion)*@
               Otras Unidades Asistente de la Estación
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeUniAsisOtraEstacion)*@
               Unidades Asistentes de otras Estaciones
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeUniPoliciacas)*@
               Unidades Policiacas
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeUniOtrasInstiBomberiles)*@
               Unidades de Otras Instituciones Bomberiles
                </center>
            </th>
            <th>
                <center>
                @* @Html.DisplayNameFor(model => model.IePersonalAsisEstacion)*@
                Personal Asistente de la Estación 
                </center>
            </th>
            <th>
                <center>
                @* @Html.DisplayNameFor(model => model.IePersonalAsisOtraEstacion)*@
                Personal Asistente de otra Estaciones
                </center>
            </th>
            <th>
                <center>
                @* @Html.DisplayNameFor(model => model.IeObservacion)*@
                Observaciones 
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeFecha)*@
               Fecha
               </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeKmEntrada)*@
               Kilometraje de Entrada
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeKmSalida)*@
               Kilometraje de Salida
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeKmRecorrido)*@
               Kilometros Recorridos
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeNoBombero)*@
               No. Bombero
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IdPropNavigation)*@
               Proporción
                </center>
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.IeBomberoReportaNavigation)*@
               Bombero que Reporta
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeEstacionNavigation)*@
               Estación
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeFirmaBomberoNavigation)*@
               Firma de Bombero
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeIdCfNavigation)*@
               Clase de Fuego
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeJefeServicioNavigation)*@
               Jefe de Servicio
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IePilotoNavigation)*@
               Piloto
                </center>
            </th>
            <th>
                <center>
                @* @Html.DisplayNameFor(model => model.IeTelefonistaTurnoNavigation)*@
                Telefonista de Turno
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeTurnoNavigation)*@
               Turno
                </center>
            </th>
            <th>
                <center>
               @* @Html.DisplayNameFor(model => model.IeVoBoJefeServicioNavigation)*@
               Vo. Bo Jefe de Servicio
                </center>
            </th>
            <th></th>
        </tr>
    </thead>
    </div>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IeUbiSiniestro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeInmueble)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeValor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IePerdida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeHoraSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeHoraServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeHoraEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeUniAsisEstacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeUniAsisOtraEstacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeUniPoliciacas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeUniOtrasInstiBomberiles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IePersonalAsisEstacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IePersonalAsisOtraEstacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeObservacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeKmEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeKmSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeKmRecorrido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeNoBombero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPropNavigation.IdProp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeBomberoReportaNavigation.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeEstacionNavigation.IdEstacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeFirmaBomberoNavigation.IdFirma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeIdCfNavigation.IdCf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeJefeServicioNavigation.IdPersonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IePilotoNavigation.IdPersonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeTelefonistaTurnoNavigation.IdPersonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeTurnoNavigation.IdTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IeVoBoJefeServicioNavigation.IdFirma)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdIe">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdIe">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdIe">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
