@model Bomberos.Models.InVehiculo

@{
    ViewData["Title"] = "Eliminar Formulario";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

   <div class="orden">
 <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
 </div>

<h1><center>Eliminar Formulario de Incendio de Vehiculo</center></h1>

<h3>Esta seguro de realizar esta acción?</h3>
<h5>Tenga en cuenta que si se ha generado algun formulario con este dato</h5>
<h5>no podra ser eliminado el campo.</h5>
<div>
    <hr></hr>
    <div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvUbiSiniestro)</label>
            @Html.DisplayFor(model => model.IvUbiSiniestro)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvTipoVehiculo)</label>
            @Html.DisplayFor(model => model.IvTipoVehiculo)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvPlaca)</label>
            @Html.DisplayFor(model => model.IvPlaca)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvColor)</label>
            @Html.DisplayFor(model => model.IvColor)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvMarca)</label>
            @Html.DisplayFor(model => model.IvMarca)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvValor)</label>
            @Html.DisplayFor(model => model.IvValor)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvPerdida)</label>
            @Html.DisplayFor(model => model.IvPerdida)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvHoraSalida)</label>
            @Html.DisplayFor(model => model.IvHoraSalida)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvHoraServicio)</label>
            @Html.DisplayFor(model => model.IvHoraServicio)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvHoraEntrada)</label>
            @Html.DisplayFor(model => model.IvHoraEntrada)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvUnidad)</label>
            @Html.DisplayFor(model => model.IvUnidad)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvUniAsisEstacion)</label>
            @Html.DisplayFor(model => model.IvUniAsisEstacion)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvUniAsisOtraEstacion)</label>
            @Html.DisplayFor(model => model.IvUniAsisOtraEstacion)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvUniPoliciacas)</label>
            @Html.DisplayFor(model => model.IvUniPoliciacas)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvUniOtrasInstiBomberiles)</label>
            @Html.DisplayFor(model => model.IvUniOtrasInstiBomberiles)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvPersonalAsisEstacion)</label>
            @Html.DisplayFor(model => model.IvPersonalAsisEstacion)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvPersonalAsisOtraEstacion)</label>
            @Html.DisplayFor(model => model.IvPersonalAsisOtraEstacion)
        </div>

        <div class="form-group col-md-12">
            <label>@Html.DisplayNameFor(model => model.IvObservacion)</label>
            <div class="ddic">  @Model?.IvObservacion.ToString() </div> <br></br>
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvFecha)</label>
            @Html.DisplayFor(model => model.IvFecha)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvKmEntrada)</label>
            @Html.DisplayFor(model => model.IvKmEntrada)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvKmSalida)</label>
            @Html.DisplayFor(model => model.IvKmSalida)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvKmRecorrido)</label>
            @Html.DisplayFor(model => model.IvKmRecorrido)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvNoBombero)</label>
            @Html.DisplayFor(model => model.IvNoBombero)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IdCfNavigation)</label>
            @Html.DisplayFor(model => model.IdCfNavigation.CfClasefuego)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IdPropNavigation)</label>
            @Html.DisplayFor(model => model.IdPropNavigation.PTipoProp)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvBomberoReportaNavigation)</label>
            @Html.DisplayFor(model => model.IvBomberoReportaNavigation.Nombres)
            @Html.DisplayFor(model => model.IvBomberoReportaNavigation.Apellidos)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvEstacionNavigation)</label>
            @Html.DisplayFor(model => model.IvEstacionNavigation.Nombre)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvFirmaBomberoNavigation)</label>
            @Html.DisplayFor(model => model.IvFirmaBomberoNavigation.Nombre)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvJefeServicioNavigation)</label>
            @Html.DisplayFor(model => model.IvJefeServicioNavigation.Nombres)
            @Html.DisplayFor(model => model.IvJefeServicioNavigation.Apellidos)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvPilotoNavigation)</label>
            @Html.DisplayFor(model => model.IvPilotoNavigation.Nombres)
            @Html.DisplayFor(model => model.IvPilotoNavigation.Apellidos)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvTelefonistaTurnoNavigation)</label>
            @Html.DisplayFor(model => model.IvTelefonistaTurnoNavigation.Nombres)
            @Html.DisplayFor(model => model.IvTelefonistaTurnoNavigation.Apellidos)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvTurnoNavigation)</label>
            @Html.DisplayFor(model => model.IvTurnoNavigation.Nombre)
        </div>

        <div class="form-group col-md-3">
            <label>@Html.DisplayNameFor(model => model.IvVoBoJefeServicioNavigation)</label>
            @Html.DisplayFor(model => model.IvVoBoJefeServicioNavigation.Nombre)
        </div>

        <div class="form-group col-md-6">
            <label>@Html.DisplayNameFor(model => model.CodigoNavigation)</label>
            @Html.DisplayFor(model => model.CodigoNavigation.Codigo1)
        </div>


    </div>
    
    <div class="form-group col-md-12">
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdIv" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />       
    </form>
    </div>
</div>
