@model Bomberos.Models.InVehiculo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InVehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvUbiSiniestro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvUbiSiniestro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvTipoVehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvTipoVehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvPlaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvPlaca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvMarca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvMarca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvValor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvPerdida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvPerdida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvHoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvHoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvHoraServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvHoraServicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvHoraEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvHoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvUnidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvUnidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvUniAsisEstacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvUniAsisEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvUniAsisOtraEstacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvUniAsisOtraEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvUniPoliciacas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvUniPoliciacas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvUniOtrasInstiBomberiles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvUniOtrasInstiBomberiles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvPersonalAsisEstacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvPersonalAsisEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvPersonalAsisOtraEstacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvPersonalAsisOtraEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvObservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvObservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvKmEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvKmEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvKmSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvKmSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvKmRecorrido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvKmRecorrido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvNoBombero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvNoBombero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCfNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCfNavigation.IdCf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPropNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPropNavigation.IdProp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvBomberoReportaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvBomberoReportaNavigation.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvEstacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvEstacionNavigation.IdEstacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvFirmaBomberoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvFirmaBomberoNavigation.IdFirma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvJefeServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvJefeServicioNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvPilotoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvPilotoNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvTelefonistaTurnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvTelefonistaTurnoNavigation.IdPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvTurnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvTurnoNavigation.IdTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvVoBoJefeServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvVoBoJefeServicioNavigation.IdFirma)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdIv" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
