@model IEnumerable<Bomberos.Models.InVehiculo>

@{
    ViewData["Title"] = "Incendio de Vehiculo";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<h1><center>Incendios de Vehiculos</center></h1>
<br>

<div class="orden">
    <p>
        <a asp-action="Create"><img src="~/img/agregar-documento.png" width="50" height="50" /></a>
    </p>
    <h3>Crear un Nuevo Documento   </h3>

</div>

<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IvUbiSiniestro)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IvTipoVehiculo)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IvPlaca)
                </center>
            </th>
           @*<th>
                @Html.DisplayNameFor(model => model.IvColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IvMarca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IvValor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IvPerdida)
            </th>*@
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IvHoraSalida)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IvHoraServicio)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IvHoraEntrada)
                </center>
            </th>
          @*<th>
                @Html.DisplayNameFor(model => model.IvUnidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IvUniAsisEstacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IvUniAsisOtraEstacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IvUniPoliciacas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IvUniOtrasInstiBomberiles)
            </th>*@
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IvPersonalAsisEstacion)
                </center>
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.IvPersonalAsisOtraEstacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IvObservacion)
            </th>*@
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IvFecha)
                </center>
            </th>
           @*<th>
                @Html.DisplayNameFor(model => model.IvKmEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IvKmSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IvKmRecorrido)
            </th>*@
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IvNoBombero)
                </center>
            </th>
        @*<th>
                @Html.DisplayNameFor(model => model.IdCfNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPropNavigation)
            </th>*@
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IvBomberoReportaNavigation)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IvEstacionNavigation)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IvFirmaBomberoNavigation)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IvJefeServicioNavigation)
                </center>

            </th>
           @*<th>
                @Html.DisplayNameFor(model => model.IvPilotoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IvTelefonistaTurnoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IvTurnoNavigation)
            </th>*@
            <th>
                <center>
                @Html.DisplayNameFor(model => model.IvVoBoJefeServicioNavigation)
                </center>
            </th>
                <th><center></center></th>
                <th><center></center></th>
                <th><center></center></th>
        </tr>
    </thead>
    </div>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>   
                <center>      
                @Html.DisplayFor(modelItem => item.IvUbiSiniestro)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IvTipoVehiculo)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IvPlaca)
                </center>
            </td>
           @*<td>
                @Html.DisplayFor(modelItem => item.IvColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IvMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IvValor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IvPerdida)
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IvHoraSalida)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IvHoraServicio)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IvHoraEntrada)
                </center>
            </td>
          @*<td>
                @Html.DisplayFor(modelItem => item.IvUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IvUniAsisEstacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IvUniAsisOtraEstacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IvUniPoliciacas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IvUniOtrasInstiBomberiles)
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IvPersonalAsisEstacion)
                </center>
            </td>
           @*<td>
                @Html.DisplayFor(modelItem => item.IvPersonalAsisOtraEstacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IvObservacion)
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IvFecha)
                </center>
            </td>
           @*<td>
                @Html.DisplayFor(modelItem => item.IvKmEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IvKmSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IvKmRecorrido)
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IvNoBombero)
                </center>
            </td>
           @*<td>
                @Html.DisplayFor(modelItem => item.IdCfNavigation.IdCf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPropNavigation.IdProp)
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IvBomberoReportaNavigation.Nombres)
                @Html.DisplayFor(modelItem => item.IvBomberoReportaNavigation.Apellidos)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IvEstacionNavigation.Nombre)
                </center>

            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IvFirmaBomberoNavigation.Nombre)
                </center>

            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IvJefeServicioNavigation.Nombres)
                @Html.DisplayFor(modelItem => item.IvJefeServicioNavigation.Apellidos)
                </center>
            </td>
           @*<td>
                @Html.DisplayFor(modelItem => item.IvPilotoNavigation.IdPersonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IvTelefonistaTurnoNavigation.IdPersonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IvTurnoNavigation.IdTurno)
            </td>*@
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.IvVoBoJefeServicioNavigation.Nombre)
                </center>
            </td>
            <td>
                <center>
                    <a asp-action="Edit" asp-route-id="@item.IdIv"><img src="~/img/editar.png" width="40" height="40" /> </a>
                </center>
            <td>
                <center>
                    <a asp-action="Details" asp-route-id="@item.IdIv"><img src="~/img/votacion.png" width="40" height="40" /> </a>
                </center>
            </td>
            <td>
                <center>
                    <a asp-action="Delete" asp-route-id="@item.IdIv"><img src="~/img/basura.png" width="40" height="40" /> </a>
                </center>
            </td>
        </tr>
}
    </tbody>
</table>
