@model IEnumerable<Bomberos.Models.Personal>

@{
    ViewData["Title"] = "Personal";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<h1><center>Personal</center></h1>
<br>

<div class="orden">
    <p>
        <a asp-action="Create"><img src="~/img/agregar-documento.png" width="50" height="50" /></a>
    </p>
    <h3>Ingresar Nuevo Miembro de Personal</h3>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puesto)
            </th>
            <th><center></center></th>
            <th><center></center></th>
            <th><center></center></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto)
            </td>
                <td>
                    <center>
                        <a asp-action="Edit" asp-route-id="@item.IdPersonal"><img src="~/img/editar.png" width="40" height="40" /> </a>
                    </center>
                <td>
                    <center>
                        <a asp-action="Details" asp-route-id="@item.IdPersonal"><img src="~/img/votacion.png" width="40" height="40" /> </a>
                    </center>
                </td>
                <td>
                    <center>
                        <a asp-action="Delete" asp-route-id="@item.IdPersonal"><img src="~/img/basura.png" width="40" height="40" /> </a>
                    </center>
                </td>
        </tr>
}
    </tbody>
</table>
